@import "reset.css";

@font-face {
  font-family: "Archivo";
  src: url("../../font/Archivo-VariableFont_wdth\,wght.ttf")
    format("truetype-variations");
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62% 125%;
}

html {
  font-family: "Archivo", sans-serif;
  margin: 1.25rem auto 5rem;
  max-width: 25.875rem;
}

a,
button {
  cursor: pointer;
}

.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.screen-nav {
  display: none;
}

.hamburger {
  display: block;
  cursor: pointer;
}

#top-site > nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
}

button.main-cta {
  padding: 1.125rem 1.5rem;
  background-color: hsl(258 83% 45%);
  border-radius: 0.3125rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 20px;
  color: hsl(0, 0%, 100%);
}

.hero-section {
  margin: 3.125rem 1.25rem 0;
}

.hero-section h1 {
  font-size: 2.25rem;
  line-height: 1.25;
  font-weight: 700;
  color: hsl(163, 11%, 12%);
}

.hero-section > h1 + p {
  color: hsl(0 0% 35%);
  font-size: 1.125rem;
  line-height: 1.5;
  padding: 0.5rem 0 0;
}

.hero-section .hero-btn {
  margin: 1rem 0 0;
  width: 12.3125rem;
}

.logos > p {
  padding: 3.125rem 0 0;
  color: hsl(0 0% 35%);
  font-size: 1.125rem;
  line-height: 1.5;
  width: 11.1875rem;
}

.logo-svgs {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 11.3125rem;
}

.logos svg {
  margin: 1.5rem 1.5rem 0 0;
}

.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: none;
}

.selection-bar {
  max-width: 374px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 20px;
  margin: 5rem 1.25rem 0;

  .logo {
    width: 30%;
  }

  ul {
    width: 63.75%;
  }
}

.sort-by {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: hsla(0, 0%, 35%, 1);
  border: 1px solid hsla(0, 0%, 88%, 1);
  border-radius: 5px;
  padding: 12px 18px;
  cursor: pointer;

  svg {
    margin: 0 0 0 0.625rem;
  }
}

.resource-item {
  padding: 10px 0 10px;
  cursor: pointer;

  &:not(:last-child) {
    margin: 0 24px 0 0;
  }
}

#resources {
  header,
  nav {
    font-size: 0;
  }
}

.sort-by,
.resource-item {
  font-size: 18px;
  color: hsla(0, 0%, 35%, 1);
}

.sort-by,
.resource-item,
.vertical-align-middle {
  display: inline-block;
  vertical-align: middle;
}

.active {
  padding: 0.625rem 1.125rem;
  color: hsla(243, 47%, 9%, 1);
  background-color: hsl(210 9% 96%);
  border-radius: 0.3125rem;
  font-weight: 700;
}

h2 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 20px;
  padding: 1rem 0;
  color: hsl(0, 0%, 0%);
}

.resource-grid-cell p {
  color: hsl(0 0% 35%);
  font-size: 1.125rem;
  line-height: 1.5;
}

.resource-grid-cell {
  display: grid;
  margin: 3.375rem 1.25rem 0;
  grid-template-columns: 1fr;
  gap: 1.25rem;
}

.resource-grid-cell li {
  display: grid;
  padding: 2.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid hsl(0 0% 88%);
}

.resource-grid-cell li img {
  height: 1.625rem;
}

.resource-grid-cell a {
  font-weight: 700;
  text-decoration: underline;
  font-size: 1.125rem;
  line-height: 20px;
  margin: 1.5rem 0 0;
  color: hsl(0, 0%, 0%);
}

.resource-grid-cell p {
  color: hsl(0, 0%, 35%);
  font-stretch: 100%;
}

.signup {
  min-height: 43.5rem;
  margin-top: 5rem;
  background: hsl(258, 83%, 45%) url("../../peeps.svg") no-repeat;
  background-size: 17.6rem;
  background-position-y: 100%;
  background-position-x: calc(50% - 0.4381rem);
  padding: 3.5rem 1.25rem 0;
}

.signup p {
  color: hsl(252, 82%, 87%);
  padding-top: 0.5rem;
  font-stretch: 100%;
  font-size: 1.125rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.625rem;
  color: hsl(0 0% 100%);
  line-height: 34px;
  font-weight: 700;
}

input[type="email"] {
  background-color: hsl(240 4% 95%);
  padding: 1.125rem 0.625rem 1.125rem 1.5rem;
  border-radius: 0.3125rem;
  margin: 1rem 1rem 0 0;
  color: hsla(248, 4%, 64%, 1);
  width: 100%;
  font-size: 1.125rem;
}

.signup p:last-of-type {
  padding: 0.75rem 0;
}

button.subscribe {
  text-align: center;
  margin: 1rem auto 0;
  padding: 1.125rem 1.5rem;
  background-color: hsl(252 82% 87%);
  border-radius: 0.3125rem;
  color: hsl(258 83% 45%);
  font-size: 1.125rem;
  line-height: 20px;
  font-weight: 700;
  width: 100%;
}

footer {
  padding: 5rem 1.25rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5rem;

  p {
    font-size: 1.125rem;
    line-height: 1.5;
    color: hsl(0 0% 0%);
  }
}

.footer-logo {
  grid-area: 1 / 1 / 2 / 3;
}

dialog::backdrop {
  background-color: hsla(0, 0%, 0%, 0.2);
}

.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 450ms ease;
}

.dialog-content {
  position: absolute;
  top: 23.75rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0 0%100%);
  padding: 2.25rem;
  width: 25.5625rem;
  border-radius: 0.3125rem;
}

dialog h1 {
  font-size: 1.5rem;
  line-height: 26px;
  font-weight: 700;
  color: hsl(0, 0%, 0%);
}

dialog label:not(.asterisk)::after {
  content: " *";
  color: red;
}

.desc-label {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  justify-content: space-between;
  align-items: center;

  dialog label[for="desc"] {
    display: flex;
    grid-area: a;
  }
}

dialog header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: unset;

  svg {
    display: flex;
    align-self: center;
  }
}

dialog li {
  display: flex;
  flex-direction: column;
}

dialog label {
  width: 100%;
  display: flex;
  gap: 3px;
  padding: 2.25rem 0 1rem;
  color: hsl(0, 0%, 35%);
}

dialog label[for="desc"] {
  display: flex;
}

dialog [id="desc"] {
  width: 100%;
  color: hsl(0, 0%, 67%);
  background-color: hsl(0, 0%, 97%);
  padding: 1.125rem 1.5rem;
  line-height: 1.5;
  border-radius: 0.3125rem;
  font-size: 1.125rem;
  grid-area: c;
}

dialog [id="desc"]:placeholder {
  font-size: 1.125rem;
  color: hsl(0, 0%, 67%);
}

dialog input {
  padding: 18px 24px;
  background-color: #f7f7f7;
  border-radius: 0.3125rem;
}

dialop .select-label {
  display: block;
}

dialog .select-inner {
  padding: 18px 24px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='6' viewBox='0 0 11 6' fill='none' class='icon-caret'%3E%3Cpath d='M1 0.75L5.5 5.25L10 0.75' stroke='%23595959' /%3E%3C/svg%3E")
    no-repeat;
  background-position-x: right 24px;
  background-position-y: top 1.7969rem;
  border: 1px #e0e0e0 solid;
  border-radius: 0.3125rem;
  color: hsl(0, 0%, 35%);
  width: 100%;
}

.select-inner select option {
  font-size: 1.125rem;
  font-family: "Archivo", sans-serif;
  line-height: 1.5;
}

.select-inner:hover,
.select-inner:focus,
.select-inner:active {
  cursor: pointer;
}

dialog button.main-cta {
  max-width: 12.25rem;
  margin-top: 2.25rem;
}

.categories {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding: 1.1875rem 0 1rem 0;
}

footer li:not(.categories) {
  font-size: 18px;
  display: block;
  line-height: 1.5;
  padding: 0 0 0.5rem;
  color: hsla(0, 0%, 35%, 1);

  :hover {
    text-decoration: underline;
  }
}

ul.d {
  padding: 0.9375rem 0 0;
}

ul.e {
  margin: -90px 0;
}

ul.c,
ul.e {
  padding: 0 0 0 35px;
}
