dialog::backdrop {
  background-color: hsla($clr-blk, 0.2);
}

dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 450ms ease;
}

.dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl($clr-wht);
  padding: 2.25rem;
  width: 25.5625rem;
  height: 90%;
  border-radius: $border-radius;
  overflow: auto;

  @media screen and (min-width: 768px) and (max-width: 1139px) {
    width: 37.875rem;

  }
}

dialog header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: unset;

  svg {
    display: flex;
    align-self: center;
    cursor: pointer;
  }
}

dialog label {
  width: 100%;
  display: flex;
  gap: .1875rem;
  padding: 2.25rem 0 1rem;
}

dialog button.main-cta {
  @include cta-button;
  margin-top: 2.25rem;

  @media screen and (min-width: 768px) and (max-width: 1139px) {
    max-width: 12.25rem;
  }
}

dialog label:not(.asterisk)::after {
  content: " *";
  color: red;
}

dialog input {
  padding: 1.125rem 1.5rem;
  background-color: hsl($input-bg-clr);
  border-radius: 0.3125rem;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

dialog .select-label {
  display: block;
}

dialog .select-inner {
  padding: 1.125rem 1.5rem;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='6' viewBox='0 0 11 6' fill='none' class='icon-caret'%3E%3Cpath d='M1 0.75L5.5 5.25L10 0.75' stroke='%23595959' /%3E%3C/svg%3E") no-repeat;
  background-position: top 50% right 1.5rem;
  border: .0625rem hsl($border-clr) solid;
  border-radius: $border-radius;
  width: 100%;
}

.select-inner:hover,
.select-inner:focus,
.select-inner:active {
  cursor: pointer;
}

.desc-label {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  justify-content: space-between;
  align-items: center;

  dialog label[for="desc"] {
    display: flex;
    grid-area: a;
  }
}

dialog [id="desc"] {
  width: 100%;
  background-color: hsl($input-bg-clr);
  padding: 1.125rem 1.5rem;
  border-radius: $border-radius;
  grid-area: c;

  @media screen and (min-width: 768px) and (max-width: 1139px) {
    line-height: 1.5;
    font-size: 1.125rem;
  }
}