/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: relative;
  margin: 1.25rem 1.25rem 0;

  @media screen and (min-width: 768px) {
    // margin: 2.5rem 2.5rem 0;
    line-height: $ln-hght-20;
    font-size: 1.125rem;
  }
}

.topnav #myLinks {
  display: none;
  margin-top: 1.25rem;
}

.accordion-icon {
  display: grid;
}

.topnav .hamburger-menu {
  display: block;
  position: absolute;
  right: 0;
  top: 7px;
  cursor: pointer;

  @media screen and (min-width: 1140px) {
    display: none;
  }
}


.accordion-hidden {
  display: none;
}

.accordion-list,
.accordion-sublist {
  margin: 0;
  padding: 0;
}

.accordion-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem 1.125rem;
  border: .0625rem solid hsl($border-clr);
  border-radius: $border-radius;
  margin: .3125rem 0;
}

.accordion-item {
  margin: .3125rem 0;
}

.accordion-active {
  background-color: hsl(210 9% 96%);
  font-weight: 700;
}

.accordion-sublist {
  margin-left: 2rem;
}

.accordion-sublink {
  color: hsl($font-clr-lt);
  display: block;
  padding: .3125rem 0;
  font-size: 1rem;
}

.accordion-wrapper {
  display: none;
}

.accordion-wrapper.active {
  display: block;
}