.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: none;
}

.selection-bar {
  max-width: 23.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 1.25rem 0;

  .logo {
    width: 30%;
  }

  ul {
    width: 63.75%;
  }
}

.sort-by {
  display: flex;
  align-items: center;
  border: 1px solid hsl($border-clr);
  border-radius: $border-radius;
  padding: .75rem 1.125rem;
  cursor: pointer;

  svg {
    margin: 0 0 0 0.625rem;
  }
}

.resource-item {
  padding: .625rem 0 .625rem;
  cursor: pointer;

  &:not(:last-child) {
    margin: 0 1.5rem 0 0;
  }
}

.sort-by,
.resource-item,
.vertical-align-middle {
  display: inline-block;
  vertical-align: middle;
}

.active-bar {
  padding: 0.625rem 1.125rem;
  background-color: hsl(210 9% 96%);
  border-radius: $border-radius;
}