@import '_variables.scss';
@import '_layout.scss';


@mixin respond($bp) {
  @media (min-width: map-get($breakpoint, $bp)) {
    @content;
  }
}

@mixin card {
  margin: 10px 20px;
  padding: 0 2.25rem;
  display: grid;
  grid-template-rows: repeat(6, auto);
  font-size: 1.125rem;
  border: 1px solid $sort-border-color;

  img {
    margin-top: 2.25rem;
  }

  h3 {
    color: $black-color;
    font-weight: 700;
    margin-top: 1rem;
  }

  p {
    color: $paragraph-dark-color;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1rem;

  }

  a {
    font-weight: 700;
    text-decoration: underline;
    text-decoration: underline solid 2px;
    margin: 1.5rem 0 2.25rem;
    line-height: calc(20 / 18);
  }
}