
  $button-hero-color: #4d13d1;
  
  $paragraph-dark-color: #595959;
  $paragraph-light-color: #cec3f9;
  
  $heading-dark-color: #1C2321;
  
  $selection-active-color: #0D0C21;
  $selection-bg-color: #f3f4f5;
  $sort-border-color: #e0e0e0;
  
  $black-color: #000000;
  $white-color:  #ffffff;
  
  $input-color: 9f9ea6;
  $input-bg-color: #f3f3f4;