@import '_reset.scss';
@import '_variables.scss';
@import '_mixins.scss';
@import '_layout.scss';

@font-face {
  font-family: 'Archivo';
  src: url('../fonts/Archivo-VariableFont_wdth\,wght.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-stretch: 62% 125%;
}

:root {
  font-family: 'Archivo', sans-serif;
  font-size: 16px;
}

// .hidden {
//   display: none;
// }

p {
  line-height: 1.5;
}


.fonts,
.mockups,
.illustrations,
.icons  {
  @include card;
}