@import '_reset.scss';
@import '_variables.scss';
@import '_layout.scss';

@font-face {
  font-family: 'Archivo';
  src: url('../fonts/Archivo-VariableFont_wdth,wght.ttf') format('opentype');
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62% 125%;
}

:root {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-size: 16px;
  height: 100%;
}

section.hero {
  margin: 1.25rem 1.25rem 0;
  display: grid;
  grid-template-columns: repeat(2, auto);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: 1 / 1 / 2 / 3;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: 584;
    font-stretch: 97.9%;
    line-height: 1.25;
    color: $heading-dark-color;
    margin-top: 3.125rem;
    letter-spacing: 0.029em;
    word-spacing: 0.035em;
    grid-area: 2 / 1 / 3 / 3;
  }

  p.hero {
    font-size: 1.125rem;
    margin-top: .5rem;
    line-height: 1.5;
    text-align: left;
    color: $paragraph-dark-color;
    word-spacing: .035em;
    font-stretch: 100.5%;
    font-weight: 375;
    grid-area: 3 / 1 / 4 / 3;
  }

  .mainCTA {
    margin-top: 1rem;
    padding: 1.18rem 24px;
    background-color: $button-hero-color;
    border-radius: .3125rem;
    width: 12.3125rem;
    color: $white-color;
    font-weight: 450;
    font-size: 1.07rem;
    font-stretch: 110%;
    line-height: calc(19.58 / 18);
    grid-area: 4 / 1 / 5 / 3;
  }

  p.used-by {
    margin-top: 3.125rem;
    line-height: 1.6;
    font-weight: 350;
    font-size: 1.125rem;
    font-stretch: 101.5%;
    grid-area: 5 / 1 / 6 / 3;
  }

  .logos {
    grid-area: 6 / 1 / 7 / 3;
    width: 48.5%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
}

.resources {
  margin: 5rem 1.25rem 3.375rem;

  nav {
    padding-bottom: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    color: $paragraph-dark-color;

    .selection {
      white-space: nowrap;
      overflow: auto;
      max-width: 14.8125rem;
      display: grid;
      grid-template-columns: repeat(4, auto);
      max-width: 14.8125rem;
      scrollbar-width: none;

      button {
        line-height: calc(19.58 / 18);
        font-size: 1.125rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      button.active {
        background-color: $selection-bg-color;
        padding: .625rem 1.125rem;
        border-radius: .3125rem;
        font-weight: 700;
      }

      button:not(.active, .sort-dropdown) {
        padding-left: 1.5rem;
      }
    }

    .sort-dropdown {
      display: flex;
      gap: 10px;
      padding: .75rem 1.234375rem .75rem 1.125rem;
      border: 1px solid $sort-border-color;
      background-color: $white-color;
      position: absolute;
      margin-left: 1.5rem;
      right: 1.25rem;
      border-radius: .3125rem;

      .sort {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: calc(19.58 / 18);
        color: $paragraph-dark-color;
      }

      .caret {
        max-width: 9px;
      }
    }
  }

  .json-arrays {
    display: grid;
  }

  .fonts,
  .mockups,
  .illustrations,
  .icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.25rem;
    padding: 2.25rem;
    border-radius: 5px;
    border: 1px solid $sort-border-color;

    img {
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 0 0 1rem;
    }

    h3 {
      font-weight: 700;
      font-size: 1.125rem;
      line-height: calc(19.58 / 18);
      color: $black-color;
      flex: none;
      order: 2;
      flex-grow: 0;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5;
      color: $paragraph-dark-color;
      flex: none;
      order: 3;
      flex-grow: 0;
      margin: 1rem 0 1.5rem;
    }

    a {
      font-weight: 700;
      font-size: 1.125rem;
      line-height: calc(19.58 / 18);
      text-decoration-line: underline;
      text-decoration-thickness: .1em;
      text-underline-offset: 1px;
      color: $black-color;
      flex: none;
      order: 4;
      flex-grow: 0;
     
    }
  }

}