@font-face {
  font-display: optional;
  font-family: "Archivo";
  src: url("../../src/font/Archivo-VariableFont_wdth,wght.woff2") format("woff2-variations");
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62% 125%;
}

@font-face {
  font-family: "Archivo-fallback";
  size-adjust: 98.47%;
  ascent-override: 90%;
  src: local("Arial");
}

html {
  font-family: "Archivo", "Archivo-fallback", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.25;
  font-weight: 700;
  color: hsl($font-clr-drk);
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
  color: hsl($font-clr-lt);
}

dialog h1 {
  font-size: 1.5rem;
  line-height: 26px;
  font-weight: 700;
  color: hsl($clr-blk);
}

.accordion-link {
  font-size: 18px;
  color: hsl($font-clr-lt);
}

dialog label {
  color: hsl($font-clr-lt);
}

dialog input::placeholder,
dialog textarea::placeholder {
  font-size: 1.125rem;
  color: hsl($input-txt-clr);
  line-height: 1.5;
}

dialog .select-inner {
  font-size: 1.125rem;
  font-family: "Archivo", "Archivo-fallback", sans-serif;
  line-height: 1.5;
  color: hsl($font-clr-lt);
}